@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";
@import "bootswatch/paper/bootswatch";
@import "bootswatch/paper/variables";
@import "variables";
@import "partials/_animations";

body {
  min-width: 357px;
}

a.navbar-brand {
  img {
    margin-top: -12px;
    float: left;
    margin-right: 7px;
  }
}

div.container {
    margin-top: 20px;
}

canvas#icon {
    display: none;
}

div#status {
  display: none;
}
